<div layout="column"  flex layout-align="center center" ng-controller="LoginController as lc">
    <md-whiteframe class="md-whiteframe-z1"layout="column"  layout-padding>
        <md-content flex md-scroll-y>
            <form name="form" role="form">
                <div ng-show="err != 0" class="md-input-message-animation" style="opacity: 1; margin-top: 0px;">{{err}}</div>
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input type="text" name="username" ng-model="user.username" ng-required="true">
                    <div ng-messages="form.username.$error">
                        <div ng-message="required">Email is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" ng-required="true">
                    <div ng-messages="form.password.$error">
                        <div ng-message="required">Password is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <md-button class="md-raised" flex="50" flex-sm="100" ng-click="login()" ng-disabled="form.$invalid">Login</md-button>
                    <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="reset()">Reset</md-button>
                    <md-checkbox class="red md-block" ng-model="user.remember" ng-init="user.remember=false">
                        Remember me
                    </md-checkbox>
                </md-input-container>
            </form>
        </md-content>
    </md-whiteframe>
</div>










