<md-card>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Users</span>
            <div flex></div>
            <md-button ng-show="!!selected.length" class="md-mini" ng-style="" aria-label="Delete users" ng-click="deleteUsers($event)">
                <md-icon md-font-set="font-icons">delete</md-icon>
            </md-button>
            <md-button class="md-fab md-mini" aria-label="Eat cake" ng-click="showAdd($event)">
                <md-icon md-svg-icon="add"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

</md-card>
<!-- exact table from live demo -->
<md-table-container>
    <table md-table md-row-select ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
                <th md-column md-order-by="_id"><span>#ID</span></th>
                <th md-column md-numeric md-order-by="username"><span>Username</span></th>
                <th md-column md-numeric md-order-by="role"><span>Role</span></th>
                <th md-column md-numeric md-order-by="email">Email</th>
                <th md-column md-numeric md-order-by="enabled">Enabled</th>
            </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="user" md-select-id="{{user._id}}" md-auto-select ng-repeat="user in users">
            <td md-cell>{{user._id}}</td>
            <td md-cell>{{user.role}}</td>
            <td md-cell>{{user.username}}</td>
            <td md-cell>{{user.email}}</td>
            <td md-cell>{{user.enabled}}</td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{total}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination>